* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul {
    list-style-type: none;
    display: flex;
}

header {
    padding: 15px 30px;
}

li {
    margin: 0 25px;
}

header a{
    text-decoration-line: none;
    color: black;
}

header {
    border-bottom: 1px solid #c8c8c8;
}

#hero-section {
    margin-top: 70px;
    padding: 0 30px;
}

#hero-section div:first-child {
    width: 706px;
    margin: auto;
    text-align: center;
}

#webinars {
    margin-bottom: 15px;
    font-size: 45px;
}

#image-div img {
    width: 100%;
}

#image-div {
    margin-top: 100px;
}

/* #Strengthening-rela {
    background-color: aqua;
} */

/* #date-ticket-div {
    background-color: blue;
} */

.text-red {
    color: red;
}

#hero-section>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#date-ticket-div {
    width: 700px;
}

#Strengthening-rela {
    font-size: 48px;
    width: 350px;
} 

#date-ticket-div p {
    margin: 20px 0 40px 0;
}

#get-ticket {
    background-color: #1070FF;
    color: white;
    /* padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 4px; */
    padding: 15px 4px 15px 20px;
}


#s-v-a-s-container {
    display: flex;
    justify-content: space-between;
}
#{

}